@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

.header-site {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
}

.header-top-line {
  background-color: #4cb1ca;
}

.header-top-line a {
  color: white;
}

.header-top-line a:hover {
  color: #656565;
  transition: 0.4s;
}

a.header-logo {
  font-size: 36px;
  font-weight: bold;
  margin-right: 50px;
}

div.header-main-menu {
  font-size: 14px;
  font-weight: bold;
}

.header-main-menu__link {
  color: #656565;
}

.header-main-menu__link:hover {
  color: rgb(168, 167, 167);
  transition: 0.4s;
}

.selection-color {
  color: #b2eaf8;
  padding-right: 5px;
}

a.header-top-line__user-selection {
  padding: 0;
}

.header-top-line__user-selection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a.header-top-line__user-selection.separator::after {
  content: "|";
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.selection-search {
  display: flex;
  align-items: center;
}

.img-tags-place,
.img-cart-place {
  display: inline;
  width: 35px;
  height: 35px;
  background-color: #7db122;
  border-radius: 50%;
  text-align: center;
  padding: 9px 0px;
  color: white;
  /* margin-right: 6px; */
}

.img-tags-place {
  margin-right: 3px;
}

.img-cart-place {
  margin-right: 10px;
}

.img-tags-place:hover,
.img-cart-place:hover {
  color: white;
}

input.search-place {
  color: #c6c6c6;
  border: 1px solid #c6c6c6;
  padding: 3px 10px;
}

.img-search {
  color: #656565;
  position: relative;
  left: -23px;
}

div.selection-search a.cart {
  color: #656565;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

div.selection-search a.cart:hover {
  color: rgb(168, 167, 167);
  transition: 0.4;
}
