.footer__navigation {
  color: #fff;
  font-size: 13px;
}

.s-delivery {
  background-color: #4cb1ca;
  padding: 25px;
  margin-top: 90px;
}

.btn__truck,
.btn__tel {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: -7px;
  font-size: 22px;
}

.btn__truck:hover,
.btn__tel:hover {
  color: #4cb1ca;
}

.btn__social-media::after {
  display: inline;
  font-family: "Fontawesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn__truck {
  transform: scaleX(-1);
}

.btn__truck::after {
  content: "\f0d1";
  display: inline;
  font-family: "Fontawesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn__tel::after {
  content: "\f879";
  display: inline;
  font-family: "Fontawesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-delivery {
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  padding-left: 70px;
  margin: 0px;
}

.footer__contact {
  background-color: #39a0b9;
  padding: 30px 0px;
}

.title-contact-nav {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.facebook__like {
  background-color: #fff;
  background-image: url(../images/like.png);
  width: 47px;
  height: 23px;
}

.footer__user-photo {
  list-style: none;
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-wrap: wrap;
}

.footer__user-photo::before,
.footer__user-photo::after {
  height: 1px;
  width: 230px;
  background-color: #8adcf0;
  display: block;
  margin: 5px 0px;
  content: "";
}

.user-photo {
  padding: 4px;
}

.btn-twitter {
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: absolute;
  left: 10px;
}

.btn-twitter::before {
  display: inline;
  font-family: "Fontawesome";
  position: absolute;
  content: "\f099";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__twitter-list {
  list-style: none;
  padding-left: 50px;
}

.footer__twitter-item {
  margin-bottom: 15px;
  width: 180px;
}

.twitter-text_link {
  color: #9ae2f4;
}

.twitter-text_link:hover,
.footer__information-list:hover,
.footer__contact-us-list:hover,
.footer__menu-item:hover {
  text-decoration: none;
  color: #0b758d;
  transition: 0.4s;
}

.twitter-text-info {
  margin: 20px;
}

.footer-list {
  list-style: none;
  padding: 0px;
}

.footer__information-list,
.footer__contact-us-list {
  color: #fff;
}

.footer__information-list::before {
  content: "\f054";
  font-family: "Fontawesome";
  margin-right: 10px;
}

.footer__separator::after {
  height: 1px;
  width: 170px;
  background-color: #8adcf0;
  display: block;
  margin: 12px 0px;
  content: "";
}

.footer__social-media {
  padding: 0px;
  list-style: none;
  display: flex;
}

.footer__social-media-item {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50px;
  margin-right: 8px;
  font-size: 20px;
  position: relative;
}

.footer__social-media-item:hover {
  background-color: #d6f9ff;
  transition: 0.4s;
}

a.footer__social-media-link {
  color: #4cb1ca;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.footer__social-media-link:hover {
  text-decoration: none;
  color: #4cb1ca;
}

a.footer__social-media-link::after {
  font-family: "Fontawesome";
}

.btn__google::after {
  content: "\f0d5";
}

.btn__instagram::after {
  content: "\f16d";
}

.btn__rss::after {
  content: "\f09e";
}

.btn__facebook::after {
  content: "\f39e";
}

.footer__copyright {
  background-color: #0b4b5a;
  color: #8adcf0;
  font-size: 13px;
  height: 50px;
}

.footer__copyright-content {
  padding: 15px 0px 0px 0px;
}

.footer__menu {
  list-style: none;
  display: flex;
}

.footer__menu-item {
  color: #8adcf0;
  padding-right: 20px;
  justify-content: center;
}

.footer__menu-item-separator::after {
  content: "|";
  margin-left: 15px;
  color: #8adcf0;
}
