.card-product__title {
  font-size: 24px;
  text-transform: uppercase;
  color: #635f57;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-product {
  height: 318px;
  overflow: hidden;
  box-shadow: 0px 0px 3px #b4b6b0;
  padding: 5px;
}

.card__image {
  margin: 50px 0px;
  width: 245px;
}

.image__box {
  background-color: #eff1f0;
  margin: 0px auto;
  width: 245px;
}

.card-product__info {
  margin-top: 7px;
}

.card-product__cell {
  margin-bottom: 20px;
}

.main-site-item__title {
  color: #59545a;
}

.main-site-item__price {
  color: #7db122;
}

.site-btn__main::after {
  display: inline;
  content: "\f291";
  font-family: "Fontawesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-btn__main {
  position: absolute;
  right: 25%;
  bottom: 0%;
  width: 45px;
  height: 45px;
  font-size: 20px;
}

.ribbon-item {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.card__ribbon_new::after {
  display: inline;
  content: "new";
  width: 250px;
  text-align: center;
  padding: 7px;
  background-color: #4cb1ca;
  box-shadow: 0px 0px 5px #4cb1ca;
  transform: rotate(35deg);
  position: absolute;
  right: -30%;
  top: 15px;
}

.card__ribbon_sale::after {
  display: inline;
  content: "sale";
  width: 250px;
  text-align: center;
  padding: 7px;
  background-color: #7db122;
  box-shadow: 0px 0px 5px #7db122;
  transform: rotate(-35deg);
  position: absolute;
  left: -30%;
  top: 15px;
}
