.main-titel {
  font-size: 24px;
  text-transform: uppercase;
  color: #635f57;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-product {
  overflow: hidden;
  box-shadow: 0px 0px 3px #b4b6b0;
}

.card__image {
  margin: 0 auto;
}

.main-site__cell {
  margin-bottom: 20px;
}

.main-site-item__title {
  color: #59545a;
  padding-left: 5px;
}

.main-site-item__price {
  color: #7db122;
  padding-left: 5px;
}

.main-site-btn-buy {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: #7db122;
  border-radius: 50%;
  color: #fff;
  border: none;
  font-size: 20px;
}

.main-site-btn-buy:hover {
  color: #7db122;
  background-color: #fff;
  border: 1px solid #7db122;
  transition: 0.4s;
}

.main-site-btn-buy::after {
  display: inline;
  content: "\f291";
  font-family: "Fontawesome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-site-item__btn-buy {
  position: absolute;
  right: 25%;
  bottom: 0%;
}

.ribbon-item {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.card__ribbon-new::after {
  display: inline;
  content: "new";
  width: 250px;
  text-align: center;
  padding: 7px;
  background-color: #4cb1ca;
  box-shadow: 0px 0px 5px #4cb1ca;
  transform: rotate(35deg);
  position: absolute;
  right: -30%;
  top: 15px;
}

.card__ribbon-sale::after {
  display: inline;
  content: "sale";
  width: 250px;
  text-align: center;
  padding: 7px;
  background-color: #7db122;
  box-shadow: 0px 0px 5px #7db122;
  transform: rotate(-35deg);
  position: absolute;
  left: -30%;
  top: 15px;
}
